$primary-color: #22a0bc;
$secondary-color: #FDFDFD;
$white: #ffffff;
$pitch-black: #000000;
$black:#161616;
$gray: #595959;
$light-gray: #F4F4F4;
$medium-gray: #9c9c9c;
$light-gray-second: #dadada;
$error: #ff3e3e;

